.container-container
{
    background-color: white;
    height: auto;

}

.landing-nav{

    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    background-color: rgb(97, 78, 168);
    background:linear-gradient(to right, rgb(92, 70, 172), rgb(61, 25, 189));
    position: sticky;
    width: 100%;
    height: auto;
}

.landing-items
{
    display: flex;
    align-items: center;
    color: white;
}

.landing-items button
{
    background-color: rgb(255 203 5);
    padding: 10px 20px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.845);
}

.landing-items a, button
{
    margin: 0px 10px;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
}

.landing-items a
{
    font-size: 20px;
    padding: 10px 20px;
    font-weight: 700;
    color: white;
}

.speciality
{
    margin: 50px auto;
    width: 80%;
    height: auto;
    background-color: white;
    margin-bottom: 100px;

}

.speciality-title
{
    font-size:40px ;
    letter-spacing: 1px;
    padding: 10px;
}

.speciality-items
{
    width: 100%;
    height: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.speciality-card
{
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
}

.card-title
{
    font-size: 20px;
    font-weight: 600;
    color:  rgb(40, 25, 93);
}

.speciality-card img
{
    width: 300px;
    height: 200px;
}

.card-text
{
    color: gray;
    font-size: 15px;
}

.card-btn
{
    width: 110px;
    padding: 10px;
    color:rgb(40, 25, 93) ;
    background: transparent;
    border: none;
    border: 1px solid gray;
    font-size: 13px;
}
.card-btn:hover
{
    background-color: gray;
    color:lightgray;
}

.speciality-learn
{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: white;
    padding-bottom: 50px;
}
.speciality-learn-items
{
    width: 330px;
    height: auto;
    background:linear-gradient(to right, rgb(103, 71, 218), rgb(61, 25, 189));
    color: white;
    text-align: left;
    padding: 20px;

}

.speciality-learn-title
{
    font-size:25px ;
    font-weight: 600;
}

.speciality-btn
{

    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}

.speciality-box
{
    width: 300px;
    background-color: white;
    padding: 10px;
}

.speciality-text
{
    color: black;
}

.Read-Less
{
    font-size: 15px;
    padding: 10px;
    cursor: pointer 
}

.welcome
{
    width: 100%;
    height: 550px;
    background-color: white;
    margin: 20px 0px;
}

.welcome-container
{
    width: 90%;
    margin: 0px auto;
    position: relative;
}

.welcome-text
{
    font-size: 60px;
    position: absolute;
    top: 30px;
    letter-spacing: 1px;
    z-index: 2;
    color:rgb(40, 25, 93);
    font-weight: 500;
}

.welcome-image
{
    position: absolute;
    right:0px;
    width: 900px;
    height: 550px;
    z-index: 1;
    opacity: 0.5;
}

.welcome-subtext
{
    position: absolute;
    font-size: 20px;
    top: 160px;
    color: rgb(40, 25, 93);
}

.about
{
    margin: 40px 0px;
    width: 100%;
    height: 700px;
    background-color: white;
    padding: 30px 0px;
}


.about-container
{
    width: 80%;
    margin: 0px auto;

}

.about-title
{
    font-size: 50px;
    color: rgb(40, 25, 93);

}

.about-items
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-item-text
{
    width: 580px;
    line-height: 26px;
    color: gray;
    font-weight: 500;
}

.about-item-pic
{
    width: 500px;
    height: 430px;
}

.about
{
    background-color: #f2f2f2;
}

.about-us:hover
{
    
    border-bottom: 5px solid yellow;
}

.contact-us:hover
{

    border-bottom: 5px solid yellow;
}

.landing-items button:hover
{
    background-color: rgb(40, 25, 93);
}
